body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e7e7e7;
  }
  
  h1 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #000;
    font-weight: bold;
  }
  
  h2 {
    font-size: 1.5em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #000;
    text-align: center;
  }

 img{
    width: 10%;
 }
  
  p {
    font-size: 1em;
    margin-bottom: 1rem;
    color: #000;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  th {
    background-color: #f0f0f0;
    padding: 0.5rem;
    text-align: center;
    color: #000;
  }
  
  .igl{
    border-radius: 20%;
    margin-left: 20%;  
}

.retour{
    padding: 10px 10px 10px 10px;
    background-color: rgb(21, 255, 0);
    border-radius: 20% 20% 20% 20%;
}

.retour:hover{
    padding: 10px 10px 10px 10px;
    background-color: red;
    border-radius: 20% 20% 20% 20%;
    box-shadow: 0px 0px 15px black;
}

.matam{
    border-radius: 20%;
    margin-right: 20%;  
}
  td {
    padding: 0.5rem;
    text-align: center;
    color: #000;
  }

  td :hover{
    padding: 0.5rem;
    text-align: center;
    color: #e4099b;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  .titre {
    color: #000;
    font-weight: bold;
    text-align: center;
  }
  
  .introduction {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2em;
    line-height: 1.5;
    color: #000;
    text-align: center;
  }
  
  .plan-d-etude {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .tableau {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .colonne-matiere {
    width: 50%;
    background-color: #76a400;
  }
  
  .colonne-lien {
    width: 50%;
    background-color: #76a400;
    border: black;
  }
  